---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<img src="{{ page.image }}">

<h2>{{ page.title }}</h2>
<ul id="blog-categories">
  {% for category in page.categories %}
  <li> <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category | upcase}}</a></li>
  {% endfor %}
</ul>
<time datetime="{{ page.date }}">
  <small>
    <strong>{{ page.date | date_to_string }}</strong>
    {% if author %}
      by {{ author.name }}
    {% endif %}
  </small>
</time>


{{ content }}

{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}




<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
